.wrapper {
    width: 90%;
    max-width: 1420px;
}

.social-icon {
    width: 24px;
    padding-bottom: 10px;
}

nav {
    text-align: right;
    width: 175px;
    display: flex;
    flex-direction: column;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 5rem;
    padding-right: 10px;
    border-right: 4px solid rgba(196, 196, 196, 1);
}

nav a:hover {
    border-color: var(--dark-bg);
}
/* Header and hero section */

.header-content__section {
    display: flex;
    justify-content: space-between;
}

.sector-content {
    width: 320px;
}

.hero-section {
    width: 50%;
    margin: auto;
}

.text-header {
    font-size: 3.8rem;
    margin-top: 10px;
}

/* Main section */
section {
    display: flex;
    width: 80%;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin: 0 auto 130px;
}

section:nth-of-type(2) {
    flex-direction: row;
    width: 100%;
}

.second-section__content {
    margin-inline-end: 0;
    margin-inline-start: 150px;
}

.section-content {
    width: 75%;
    margin-inline-end: 50px;
}

.number {
    font-size: 16rem;
    position: relative;
    top: 112px;
    right: 115px;
}

.number::before {
    margin-top: 100px;
    margin-left: 115px;
}

/* Footer Section */

.footer-content,
.footer-about {
    display: flex;
    justify-content: space-between;
}

.footer-content {
    margin: auto;
    width: 90%;
    align-items: center;
}

.footer-about {
    width: 50%;
}