.wrapper {
    width: 90%;
    max-width: 1320px;
}

/* Header and hero section */

.header-content__section {
    display: flex;
    justify-content: space-between;
}

.sector-content {
    width: 320px;
}

.hero-section {
    width: 50%;
    margin: auto;
}

.text-header {
    font-size: 3.8rem;
    margin-top: 10px;
}

/* Main section */
section {
    display: flex;
    width: 80%;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0 auto 130px;
}

section:nth-of-type(2) {
    flex-direction: row;
}

.second-section__content {
    margin-inline-end: 0;
    margin-inline-start: 50px;
}

.section-content {
    width: 75%;
    margin-inline-end: 50px;
}

/* Footer Section */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-about {
    width: 50%;
    display: flex;
    justify-content: space-between;
}