html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --yellow: #FDD130;
    --dark-bg: #0B1D26;
    --white: #FFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
    font-size: 2.4rem;
}

p {
    font-size: 1.6rem;
}

h2,
p {
    color: var(--white);
}

h3,
strong {
    color: #FDD130;
}